# Vou criar uma função que vai receber um ticker de ação e calcular os retornos anuais com dados do Yahoo Finance:

In [15]:
def retornos_anuais_yf(tickers):
    import yfinance as yf 
    import pandas as pd
    ativo_precos=yf.download(ticker)['Adj Close']
    ativo_retornos = pd.DataFrame(ativo_precos.groupby([ativo_precos.index.year,ativo_precos.index.year]).tail(1).pct_change())
    ativo_retornos = ativo_retornos.set_index(ativo_retornos.index.year)
    ativo_retornos = ativo_retornos.rename(columns={'Adj Close':ticker})
    ativo_retornos = ativo_retornos.iloc[1:]
    return ativo_retornos*100

# Vamos aplicar a função em um ticker de ITSA4 por exemplo:

In [16]:
retornos_anuais_yf('ITSA4.SA')

[*********************100%***********************]  1 of 1 completed

       ITUB4.SA
Date
2001  -4.870066
2002  -2.551464
2003  67.347078
2004  39.024169
2005  41.102911
2006  37.477635
2007  17.571234
2008 -28.296882
2009  63.061684
2010   4.676892
2011 -13.782455
2012  -0.738310
2013   6.943062
2014  21.933054
2015  -8.629411
2016  48.706341
2017  32.000205
2018  32.814539
2019   9.865840
2020 -22.346594