# Vou criar uma função que vai receber um ticker de ação e calcular os retornos anuais com dados do Yahoo Finance:

In [4]:
def retornos_anuais_yf(ticker):
    import yfinance as yf 
    import pandas as pd
    ativo_precos=yf.download(ticker)['Adj Close']
    ativo_retornos = pd.DataFrame(ativo_precos.groupby([ativo_precos.index.year,ativo_precos.index.year]).tail(1).pct_change())
    ativo_retornos = ativo_retornos.set_index(ativo_retornos.index.year)
    ativo_retornos = ativo_retornos.rename(columns={'Adj Close':ticker})
    ativo_retornos = ativo_retornos.iloc[1:]
    return ativo_retornos*100

# Vamos aplicar a função em um ticker de SMAL11 por exemplo:

In [14]:
retornos_anuais_yf('SMAL11.SA')

[*********************100%***********************]  1 of 1 completed

       SMAL11.SA
Date
2009  136.078264
2010   22.465893
2011  -16.920474
2012   28.139855
2013  -14.993377
2014  -17.248363
2015  -21.803807
2016   30.267277
2017   49.630313
2018    7.535524
2019   56.737504
2020  -14.577836