# Vamos analisar os melhores e piores dias do S&P500 e do IBOVESPA:

# Importamos os módulos necesários:

In [1]:
import pandas as pd 
from pandas_datareader import data as wb 
import matplotlib.pyplot as plt

# Pegando e estruturando os dados:

In [3]:
dados = pd.DataFrame()
tickers = ['^GSPC','^BVSP']
for t in tickers: 
     dados[t]=wb.DataReader(t,data_source='yahoo',start='1996-01-01')['Adj Close']

dados=dados.rename(columns={'^GSPC':'S&P500','^BVSP':'IBOVESPA'})
dados[['Returns S&P500','Returns IBOVESPA']]=(dados[['S&P500','IBOVESPA']].pct_change())

# Pegando e mostrando os 10 melhores e 10 piores dias:

In [5]:
piores_dias_ibovespa = dados.nsmallest(10,'Returns IBOVESPA')[['Returns IBOVESPA']]
piores_dias_sp = dados.nsmallest(10,'Returns S&P500')[['Returns S&P500']]
melhores_dias_ibovespa = dados.nlargest(10,'Returns IBOVESPA')[['Returns IBOVESPA']]
melhores_dias_sp = dados.nlargest(10,'Returns S&P500')[['Returns S&P500']]

display(melhores_dias_sp)
display(melhores_dias_ibovespa)
display(piores_dias_sp)
display(piores_dias_ibovespa)

            Returns S&P500
Date
2008-10-13        0.115800
2008-10-28        0.107890
2020-03-24        0.093828
2020-03-13        0.092871
2009-03-23        0.070758
2020-04-06        0.070331
2008-11-13        0.069213
2008-11-24        0.064723
2009-03-10        0.063663
2008-11-21        0.063248

            Returns IBOVESPA
Date
1999-01-15          0.334190
1998-09-15          0.186834
2008-10-13          0.146560
2020-03-13          0.139082
2008-10-28          0.134262
1998-09-11          0.133795
1998-09-23          0.109756
1997-11-03          0.097040
2020-03-24          0.096885
2008-09-19          0.095657

            Returns S&P500
Date
2020-03-16       -0.119841
2020-03-12       -0.095113
2008-10-15       -0.090350
2008-12-01       -0.089295
2008-09-29       -0.088068
2008-10-09       -0.076167
2020-03-09       -0.075970
1997-10-27       -0.068657
1998-08-31       -0.068014
2008-11-20       -0.067123

            Returns IBOVESPA
Date
1998-09-10         -0.158090
1997-10-27         -0.149675
2020-03-12         -0.147797
2020-03-16         -0.139215
2020-03-09         -0.121738
2001-09-17         -0.115081
2008-10-15         -0.113931
2020-03-18         -0.103488
1997-11-12         -0.102055
2008-10-22         -0.101760