# Vou mostrar como pegar dados do BACEN no Quandl:

# Aqui vou importar dados de juros de vários países desde 2000:

In [16]:
import quandl
import pandas as pd 

paises = ['Australia','Canada','China','Zona Euro','EUA','Japão','México','Inglaterra','Rússia']
tickers_bacen = {'Australia':"BCB/17880",'Canada':"BCB/17881",'China':"BCB/17899",'Zona Euro':"BCB/17900",'EUA':"BCB/18152"\
                ,'Japão':"BCB/17903",'México':"BCB/17904",'Inglaterra':"BCB/17908",'Rússia':"BCB/17905"}

df_juros = pd.DataFrame()

for i in paises: 
    df_juros[i]=quandl.get(tickers_bacen[i],start_date='2000-01-01')['Value']

# O dataframe criado:

In [17]:
df_juros

,Australia,Canada,China,Zona Euro,EUA,Japão,México,Inglaterra,Rússia
Date,,,,,,,,,
2000-01-31,5.00,NaN,5.85,3.00,5.50,0.0,NaN,5.50,55.0
2000-02-29,5.00,NaN,5.85,3.00,5.50,0.0,NaN,5.75,45.0
2000-03-31,5.50,NaN,5.85,3.25,5.75,0.0,NaN,6.00,45.0
2000-04-30,5.50,NaN,5.85,3.50,6.00,0.0,NaN,6.00,33.0
2000-05-31,6.00,NaN,5.85,3.75,6.50,0.0,NaN,6.00,33.0
...,...,...,...,...,...,...,...,...,...
2016-04-30,2.00,0.5,4.35,0.00,0.50,-0.1,3.75,0.50,11.0
2016-05-31,1.75,0.5,4.35,0.00,0.50,-0.1,3.75,0.50,11.0
2016-06-30,1.75,0.5,4.35,0.00,0.50,-0.1,4.25,0.50,10.5
2016-07-31,1.75,0.5,4.35,0.00,0.50,-0.1,4.25,0.50,10.5
2016-08-31,1.50,0.5,4.35,0.00,0.50,-0.1,4.25,0.25,10.5

# Matriz de Correlação:

In [18]:
df_juros.corr()

,Australia,Canada,China,Zona Euro,EUA,Japão,México,Inglaterra,Rússia
Australia,1.000000,0.793783,0.574412,0.856701,0.708353,0.483490,0.798112,0.837699,0.327142
Canada,0.793783,1.000000,0.403481,0.878128,0.912358,0.370544,0.699404,0.926301,0.524392
China,0.574412,0.403481,1.000000,0.446091,0.287000,0.733210,0.509992,0.300467,-0.093774
Zona Euro,0.856701,0.878128,0.446091,1.000000,0.788462,0.410211,0.933554,0.903721,0.605563
EUA,0.708353,0.912358,0.287000,0.788462,1.000000,0.306505,0.692546,0.856572,0.568404
Japão,0.483490,0.370544,0.733210,0.410211,0.306505,1.000000,0.703562,0.267302,-0.237190
México,0.798112,0.699404,0.509992,0.933554,0.692546,0.703562,1.000000,0.805117,0.653571
Inglaterra,0.837699,0.926301,0.300467,0.903721,0.856572,0.267302,0.805117,1.000000,0.613630
Rússia,0.327142,0.524392,-0.093774,0.605563,0.568404,-0.237190,0.653571,0.613630,1.000000